<div class="imageBox">
  <img src="../../../assets/1.jfif" width="100%">
  <img src="../../../assets/2.jfif" width="100%">
  <img src="../../../assets/3.jfif" width="100%">
  <img src="../../../assets/4.jfif" width="100%">
  <img src="../../../assets/5.jfif" width="100%">
  <img src="../../../assets/6.jfif" width="100%">
  <img src="../../../assets/7.jfif" width="100%">
  <img src="../../../assets/8.jfif" width="100%">
  <img src="../../../assets/9.jfif" width="100%">
  <img src="../../../assets/10.jfif" width="100%">
</div>
