

<h1>Create table of persons</h1>

<button (click)="getTestData()">Get data and create table</button>

<table *ngIf="persons">
  <tr>
    <th>ID</th>
    <th>First name</th>
    <th>Last name</th>
    <th>Email</th>
    <th>Gender</th>
    <th>IP</th>
    <th>Country</th>
  </tr>
  <tr *ngFor="let person of persons" class="person">
    <td>{{ person.id }}</td>
    <td>{{ person.first_name }}</td>
    <td>{{ person.last_name }}</td>
    <td>{{ person.email }}</td>
    <td>{{ person.gender }}</td>
    <td>{{ person.ip_address }}</td>
    <td>{{ person.country }}</td>
  </tr>
</table>
