<nav>
  <a [routerLink]="['/']">Home</a>&nbsp;|&nbsp;
  <a [routerLink]="['/calculatepi']">Pi</a>&nbsp;|&nbsp;
  <a [routerLink]="['/calculateprime']">Prime</a>&nbsp;|&nbsp;
  <a [routerLink]="['/imagesloader']">Images</a>&nbsp;|&nbsp;
  <a [routerLink]="['/tablecreator']">Tablecreator</a>
</nav>
<router-outlet></router-outlet>
